---
import './BookApoitment.css'
import map from '../../assets/map.png'

import Form from './Form.astro'
---

<div class='book'>
  <div class='left'>
    <img src={map} />
  </div>
  <div class='right'>
    <span>Book appoitment</span>
    <h2>Care at Dentalist is pleasure</h2>
    <p class='desc'>
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing layouts and visual
    </p>
    <Form />
  </div>
</div>
